.typography {
    overflow: hidden;
    border-right: .15em solid rgb(7, 7, 7);
    white-space: nowrap;
    margin: 0 auto;
    font-size: clamp(0.01rem, 4vw, 1.5rem);
    letter-spacing: .08em;
    animation: 
      typing 2.0s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 35% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.icons_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
  
    position: relative;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    width: 3rem;
    height: 3rem;
}

.svg-home {
    position: relative;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 3rem;
    height: 3rem;
}