.typography {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(7, 7, 7); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 35% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.icons_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
  
    position: relative;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 3rem;
    height: 3rem;
}

.svg-home {
    position: relative;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 3rem;
    height: 3rem;
}