.notfound-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(255,200,124,1) 0%, rgba(252,251,121,1) 90% );
}
