h2 {
  font-size: clamp(1rem, 5vw, 3rem);
}

div .paragraph {
    background-color: hsl(22, 94%, 74%);
    background-image: linear-gradient(2deg, hsl(22, 94%, 74%) 50%, hsl(43, 90%, 69%) 100%);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 2% 15% 12% 16%;
    position: relative;
    z-index: 1;
    line-height: 25px;
    height: 100vh;
}
